<div class="content col-md-12"> 
  <div class="content">
    <h1>My Ideas</h1>
  </div>

  <div class="content-element">
    <div class="content">
      search
    </div>
    <div class="content">
      <%= link_to " Manage", ideas_path, class: "btn btn-default fa fa-pencil" %>
    </div>
  </div>
</div>

<div class="content col-md-12">
  <% @ideas.each do |idea| %>
    <ul class="list-group">
      <li class="list-group-item">

        <span><% pin = idea.pins.find_by_user_id(current_user.id) %>
          <% if pin %>
            <%= link_to idea_pin_path(idea, pin), method: :delete, class: "btn btn-default btn-lg" do %>
            <i class="glyphicon glyphicon-pushpin" style="color:red"></i><% end %>
          <% else %>
            <%= link_to idea_pins_path(idea), method: :post, class: "btn btn-default btn-lg" do %>
            <i class="glyphicon glyphicon-pushpin" style="color:green"></i><% end %>
          <% end %></span>
        <span>&nbsp;</span>
        <span><%= link_to idea.title, idea %></span>
        <span class="ideas-list-buttons">
        <button type="button" class="btn btn-lg">
          <span class="fa fa-users fa-2x"></span></button>
        <button type="button" class="btn btn-lg">
          <span class="fa fa-trash-o fa-2x"></span></button></span>
      </li>
    </ul>
  <% end %>
</div>