<% if pin %>
<div class="pin-button green">
  <%= link_to "", idea_pin_path(pin.idea, pin), method: :delete, remote: true, class: "btn btn-lg glyphicon glyphicon-pushpin" %>
</div>
<% else %>
  <div class="pin-button">
    <%= link_to "", idea_pins_path(pin.idea), method: :post, remote: :true, class: "btn btn-lg glyphicon glyphicon-pushpin" %>
  </div>
<% end %>