  <br>
  <%#= link_to "Pin Idea", user_pins_path, method: :post %>
  <% @idea.comments.each do |comment| %>
    <ul>
      <li>
        <%# comment.gravitor %>
        <p><%= markdown(comment.body) %></p>
        <%= link_to comment.user.full_name, profile_path(comment.user.profile) %> | 
        <%= comment.created_at %>
      </li>
      <hr>
    </ul>
  <% end %>
