<h1>Sharing <%= Idea.last %></h1>

 <% @teams.each do |pin| %>
 <%= link_to idea.title, pin %>
 <%= link_to "Delete", user_pin_path(@pin), method: :delete %>
 <%= link_to "Share", new_user_share_path %>
 <br>
<% end %>
