<h1>My Shared Ideas (Sorted By Team)</h1>

<% @teams.each do |team| %>
    <% team.shared_ideas.each do |idea| %>
        <% if idea.user_id != current_user.id %>
          <%= link_to idea.title, idea_path(idea) %>
         <br>
        <% end %>
      <% end %>
<% end %>

