<h1>My Shared Ideas</h1>

<!-- Field for filtering ideas: -->
<%= render partial: "/layouts/filter" %>
<% @teams.each do |team| %>
    <% team.shared_ideas.each do |idea| %>
        <li><%= link_to idea.title, idea_path(idea) %></li>
      <% end %>
    </ul>
<% end %>

