<h1>Forgot Password</h1>
 <%= simple_form_for [@user], method: :patch do |f| %>
  Enter new password below:
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit "Update Password" %>
<% end %>