<div class="centered-login">
  <div class="ideaz-logo">
    <span class="fa fa-lightbulb-o fa-5x"></span>
  </div>
  <h1>Please enter your email address for a link to reset your password:</h1>
  <%= form_tag url_for(:controller => 'users', :action => 'forgot_password'), method: :post do %>
    <%= text_field_tag :email %>
    <br>
    <%= submit_tag "Reset Password", class: "btn btn-primary" %>
  <% end %>
</div>
