<p>Hello 
<%# If the recipient has a user account %>
<% if @invitation.has_account = true %>
  <%= @first_name @last_name %>
<% end %>
</p>

<p><%= @user.first_name @user.last_name%>has invited you to join the team: <%= @invitation.team%></p>

<p>Please click the link below to join the team</p>

<p>URL</p>

<p>Regards,</p>
<br>The Ideaz Team