<p>Hello <%= @user.full_name %>
<p>To reset your password, please go to the following link:</p>

<p> <%= link_to "Reset Password Link", edit_user_url(@user), target: "_blank" %> </p>

<p>Thank you!  From the Ideaz Team!</p>