/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#header {
  height: 100px;
  background: gray;
  display: block;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#header h1 {
  float: left;
  font-weight: bold;
  font-size: 25px;
}

#header-logo {
  display: inline-block;
  float: left;
  vertical-align: bottom;
}

#header-buttons {
  background-color: white;
  display: inline-block;
  float: right;
  text-align: right;
  vertical-align: bottom;
}

#sidebar {
  text-align: left;
  padding-top: 50px;
  display: inline-block;
}

#sidebar ul {
  list-style-type: none;
}

.content {
  display: inline-block;
  font-family: "Comic Sans MS", cursive, sans-serif;
}